*{
    background-color: bisque;
}
h1{
    color:blanchedalmond; 
    text-align: left;
    font-size: 70px;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}

img{
    width: 200px;
    height: 200px;
    border-radius: 100px;
    align-items: center;

}